
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.container {
    margin: 0 auto;
}

.cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    position: relative;
    /*   margin-bottom: 20px;
  padding-bottom: 30px; */
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 250px;
}

.cardM {
    position: relative;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 250px;

    margin-right: 20px;
    margin-bottom: 20px;
}

    /* .cardM:nth-child(3n) {
        margin-right: 20px !Important;
    } */


.card:hover, .card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }

    .container {
        /* background-color: yellow; */
    }
}

@media (min-width: 700px) {
    .card {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

        .card:nth-child(even) {
            margin-right: 20px;
        }

    .container {
        /* background-color: green; */
    }
}

@media (min-width: 980px) {
    .card:nth-child(even) {
        margin-right: 20px;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }

    .container {
        /* background-color: blue; */
    }
}

@media (min-width: 1100px) {
    .card:nth-child(3n) {
        margin-right: 20px;
    }

    .container {
        /* background-color: red; */
    }
}







.movie-detail-wrapper {
    /* cursor: pointer; */
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    max-height: 388px;
}

.movie-detail {
}

    .movie-detail:nth-child(1) {
        order: 0;
        flex: 1 1 auto;
        align-self: stretch;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px;
        border-radius: 4px 4px 0 0;
    }

    .movie-detail:nth-child(2) {
        order: 0;
        flex: 0 1 25px;
        align-self: stretch;
        font-family: 'Open Sans Condensed', sans-serif;
    }

.movie-cover {
    display: block;
    width: 100%;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    min-height: 388px;
    font-size: 24px;
    font-family: 'Mouse Memoirs', sans-serif;
    color: gray;
    line-height: 100px;
    text-align: center;
    max-height: 388px;
    max-width: 250px;
}

.recommended {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 14px;
    height: 13px;
    padding: 2px;
    background: #fff;
    border: thin solid #666;
    color: #666;
    text-align: center;
    font: 11px Arial, sans-serif;
    margin-top: 4px;
    margin-left: 3px;
    text-decoration: none;
    margin-bottom: 3px;
}

    .recommended:hover {
        cursor: pointer;
        border-color: red;
        color: red;
    }

.quality {
    display: inline-block;
    margin-left: 10px;
    float: left;
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    font-weight: bold;
    cursor: help;
}

    .quality:hover {
        color: red;
    }

.recommended.info {
    font-size: 11pt;
    font-family: "Times New Roman";
    padding-top: 0px;
    padding-bottom: 4px;
    font-weight: bold;
    font-style: italic;
    padding-left: 1px;
}

.audio {
    display: inline-block;
    float: right;
    font-family: 'Open Sans', sans-serif;
    padding-top: 4px;
    font-size: 10pt;
    padding-right: 3px;
    cursor: help;
}

    .audio:hover {
        color: red;
    }

.imageNotFound {
    width: 100%;
    height: 388px;
    border-bottom: solid thin silver;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

.infoTextPosterNotFound {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: table-cell;
    height: 50%;
}

.movieTitle-posterNotFound {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 24pt;
}



.gridParent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    background: rgba(255, 255, 255, .1);
}


.gridWrapper {
    background-color: blue;
    display: flex;
    flex: 1; /* same as flex: 1 1 auto; */
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    overflow-y: auto;
}

#jsGridPager {
    display: table;
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-top: solid thin gray;
}

#pager-wrapper {
    display: table-cell;
    padding-left: 5px;
    text-align: left;
}

    #pager-wrapper a {
        color: black;
        text-decoration: none;
    }

#pager-customOptions {
    display: table-cell;
    width: 150px;
}

.jsgrid-pager-container {
    display: block !important;
}







.tableWrapper {
    width: 100%;
    border-collapse: collapse;
}

.markerCol {
    min-width: 30px;
    vertical-align: middle;
    text-align: center;
    width: 30px;
}

.markerSymbol {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

    .markerSymbol.collapsed {
        background-image: url("../Images/arrowRight12.png");
    }

    .markerSymbol.expanded {
        background-image: url("../Images/arrowDown12.png");
    }


.headerRow td {
    background-color: #f9f9f9;
    padding: 5px;
    border-bottom: solid thin silver;
    font-weight: bold;
}

.detailsTableWrapper {
    float: left;
    width: 100% !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.detailCell {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

    .detailCell.w100 {
        width: 100px;
    }

    .detailCell.w80 {
        width: 80px;
    }

    .detailCell.w125 {
        width: 125px;
    }

    .detailCell.w123 {
        width: 123px;
    }

    .detailCell.w25 {
        width: 25px;
    }

.seasonLine:hover {
    background-color: #c4e2ff;
}

.episoadeLine {
    cursor: default;
}

    .episoadeLine:hover {
        background-color: cornsilk;
    }

.seriesLine {
    border-top: solid thin #f3f3f3;
}

.alternateRow {
    background-color: #fcfcfc;
}

.seriesLine td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.seriesLine:hover {
    background-color: #c4e2ff;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lineWithDetails {
    cursor: pointer;
}

.infoSign {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
}

    .infoSign:hover {
        opacity: 1;
    }



.thumbnails-wrapper {
    table-layout: fixed;
    width: 100%;
}

.thumbnailStillCell {
    width: 33%;
    background: black;
    text-align: center;
}

    .thumbnailStillCell img {
        max-height: 235px;
    }

.collectionT0-new-cover {
    font-size: 24px;
    font-family: 'Mouse Memoirs', sans-serif;
    height: 250px;
    width: 161px;
    display: table-cell;
    vertical-align: middle;
    border: solid thin gray;
    border-radius: 5px;
}

/* .color: white; margin-top: 20px; background: black; padding-top: 5px; padding-bottom: 5px; */

.searchResultHeader {
    margin-top: 20px;
    margin-bottom: -20px;
    background: navajowhite;
    font-size: 11pt;
	font-weight: bold;
	padding: 3px;
}